<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Component di prova</mat-card-title>
      <mat-card-subtitle>Me and the FIOIS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{sorg}} alt="Una foto di Genni">
    <mat-card-content>
      <p>
      {{scritta}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>RICARDO MILOS</button>
    </mat-card-actions>
  </mat-card>
  
  